{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
    /*
    curl -i -H "Content-Type: application/json -X GET -d
    '{"max_distance":"1000","latitude":"50.0752962","longtitude":"14.419395"}' http://localhost:5000/api
     */

function myFunction() {
    var sendInfo = {
           max_distance: 1000,
           latitude: 50.0752962,
           longtitude: 14.419395
       };
$.ajax(
   {
        url: "http://localhost:5000/api",
        type: "POST",
        data: sendInfo,
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        crossDomain:true,


        success: function (msg) {
            alert("aaaaa");
            document.getElementById("demo").innerHTML = "Hello World";
           console.log("recieved ");

        },
       error: function(jqXHR) {
           console.log("ajax error " + jqXHR.status);
       }
    }
);
};
function myFunction2() {
$.ajax(
   {
       //,latitude: 50.0752962 , longtitude:14.419395
        url: "http://localhost:5000/api",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        crossDomain:true,
        data: {max_distance:1000,latitude: 50.0752962 , longtitude:14.419395},
        success: function (msg) {
            alert("aaaaa");
            document.getElementById("demo").innerHTML = "Hello World";
           console.log("recieved ");

        },
       error: function(jqXHR) {
           console.log("ajax error " + jqXHR.status);
       }
    }
);
};
    var getPoster = function() {
        var sendInfo = {
            max_distance: 1000,
            latitude: 50.0752962,
            longtitude: 14.419395
        };

        $.getJSON("http://127.0.0.1:5000/api" + sendInfo + "?callback=?", function (json)
        {
            document.getElementById("demo").innerHTML = "Hello World";
        }
        )
    }


</script>
{% endblock %}


{% block main %}
<input name="name" size="15" type="text" />
<input name="name" size="15" type="text" />
<button onclick="myFunction2()">Click me</button>
<p id="demo"></p>
{% endblock %}
