{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function handleData(msg) {
   // alert(msg);
    //do some stuff
    //mapy(msg);
    //alert("aaaaa");
    document.getElementById("demo").innerHTML = msg.state;
    console.log("recieved ");
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
};
function myFunction2() {
    var dist = parseFloat($('#distance').val());
    var latitude = parseFloat($('#latitude').val());
    var longtitude = parseFloat($('#longtitude').val());

    //var dist = parseFloat(document.getElementById("distance").innerHTML);
$.ajax(
   {
       //,latitude: 50.0752962 , longtitude:14.419395
        url: "http://localhost:5000/api",
        type: "GET",
        contentType: 'application/json; charset=utf-8',
        crossDomain:true,
        data: {max_distance:dist,latitude: latitude , longtitude:longtitude},
        success: function(msg) { handleData(msg) },
       error: function(jqXHR) {
           console.log("ajax error " + jqXHR.status);
       }
    }
);
}
</script>
<script>
    function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
}
</script>
{% endblock %}


{% block main %}
<input type="text" name="distance" id="distance" placeholder="1000" value="1000">
<input type="text" name="latitude" id="latitude" placeholder="50.0752962" value="50.0752962">
<input type="text" name="longtitude" id="longtitude" placeholder="14.419395" value="14.419395">
<button onclick="myFunction2()">Click me</button>
<p id="demo"></p><div class="span11">
</div>
    <div id="map"></div>

{% endblock %}
