
<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <input type="text" name="distance" id="distance" placeholder="1000" value="1000">
    <input type="text" name="latitude" id="latitude" placeholder="50.0752962" value="50.0752962">
    <input type="text" name="longitude" id="longitude" placeholder="14.419395" value="14.419395">
    <button onclick="myFunction2(event);">Click me</button>
    <p id="demo"></p>
    <script>
function myFunction2(e) {
    e.preventDefault();
    e.preventDefault();
    var dist = parseFloat($('#distance').val());
    var latitude = parseFloat($('#latitude').val());
    var longitude = parseFloat($('#longitude').val());
$.ajax(
   {
       //,latitude: 50.0752962 , longitude:14.419395
        //url: "http://localhost:5000/api",
        url: "https://viaapi.herokuapp.com/api",
        type: "GET",
        //contentType: 'application/json; charset=utf-8',
        crossDomain:true,
        dataType: 'json',
        data: {max_distance:dist,latitude: latitude , longitude:longitude},
        success: function(msg) { handleData(msg) },
       error: function(jqXHR) {
           //jqXHR.getAllResponseHeaders().
           //document.getElementById("demo").innerHTML = jqXHR.text;
           console.log("ajax error " + jqXHR.status);
       }
    }
);
}
function handleData(msg) {
   if (msg.code == 400) {
         document.getElementById("demo").innerHTML = msg.text;
     }
    else {
       document.getElementById("demo").innerHTML = msg.state;
   }
};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP0EzVn_BOlOq0JHWijuvSVQp-7eHZt8s&signed_in=true&callback=initMap"
        async defer>
    </script>
  </body>
</html>